html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif cursive;
    color: seashell;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    max-width: 500px;
    height: 28rem;
    max-height: max-content;
    background: transparent;
   
    padding-left:10px;
    padding-right: 10px;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 20vh;
    overflow-y: hidden;
    border-radius: 7px;
    box-shadow: -1px 1px 10px rgba(223, 77, 223, 0.6);
}

.todo-title {
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    text-decoration: snow;
}

svg {
    width: 64px;
    height: 64px;
}



.todo-list {
    list-style: none;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: snow;
    text-shadow: 1px 1px 1px rgb(17, 16, 16)
                          
        
  }
  
  .todo-item span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }
  
  .done span {
    text-decoration:line-through;
  }
  input[type="checkbox"] {
    display: none;
  }
.tick {
    width: 30px;
    height: 30px;
    border: 3px solid rgb(253, 251, 251);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .checklist-icon {
    margin-bottom: 20px;
    width: 200px;
    height: 100px;
  }

  .tick::before{
    content: '✓';
    font-size: 20px;
    display: none;
  }
  
  .done .tick::before { 
    display: inline;
   }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  .delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

input[type="text"] {
    width: 100%;
    padding: .8rem;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 2px 2px skyblue;
}
  .empty-state {
    display: none;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.checklist-icon {
    color: rgb(250, 248, 248);
    fill: snow;
   margin-bottom: 20px;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
}

.checklist-icon:hover {
    fill: violet;
    transform: translateY(10px), translateX(-10px);
}

.empty-state-text {
    padding-top: 1rem;
}

.empty-state-description {
    margin-bottom: 1.5rem;
}
  
  .todo-list:empty{
    display: none;
  }
  .todo-list:empty + .empty-state{
    display: flex;
  }
  p.empty-state-description{
    margin-bottom: 20px;
  
  }
  .todo-list:empty {
    display: none;
  }
  
  .todo-list:empty + .empty-state {
    display: flex;
  }